{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online CyberConnect{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'favicon.jpg' %}" type="image/jpeg" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>

<body class="bg-hero-pattern bg-cover bg-center bg-no-repeat text-white font-jost tracking-wider">

<!--header-->
    <header id="navbar" class="bg-green-700 sm:py-2 md:py-5 lg:py-5 fixed w-full top-0 left-0 z-50 shadow-lg">
    <nav class="container flex items-center justify-between h-18 sm:h-20">

        <div class="flex items-center gap-4 mt-2 sm:mt-5 py-3">
            <img src="{% static 'header_logo.png' %}" alt="Logo"
                class="w-56 h-44 max-h-44 mt-5 mb-10 transition-transform duration-300 hover:scale-110 hover:rotate-1 object-contain">
        </div>

        <!-- Menu -->
        <div id="nav-menu" class="absolute top-0 left-[-100%] min-h-[80vh] w-full md:static md:w-auto md:min-h-fit lg:static lg:min-h-fit lg:bg-transparent lg:w-auto
        bg-green-950/80 backdrop-blur-sm flex items-center justify-center duration-300 overflow-hidden">
            <ul class="flex flex-col text-white items-center gap-8 lg:flex-row">
                <li><a href="{% url 'homepage' %}" class="nav-link">Home</a></li>
                <li><a href="{% url 'review' %}" class="nav-link">Blog Review</a></li>
                <li><a href="{% url 'about' %}" class="nav-link">About Me</a></li>
                <li><a href="{% url 'services' %}" class="nav-link">All Services</a></li>
                <li><a href="{% url 'careers' %}" class="nav-link">IT Careers</a></li>
                <li><a href="#downloads" class="nav-link">Downloads</a></li>

                    
            </ul>
        </div>
        <div class="flex items-center gap-8 pr-6">
        <!-- Cart Icon -->
        <div class="relative cursor-pointer py-3 px-2">
            <i class="ri-shopping-cart-2-fill text-white sm:text-3xl lg:text-4xl hover:scale-105 hover:text-yellow-500 transition duration-300"></i>
        </div>

        <!-- Hamburger Icon -->
        <div class="cursor-pointer z-50 text-white hover:bg-green-600 hover:text-yellow-400 transition duration-300 rounded-md">
            <i class="ri-list-unordered text-4xl sm:text-5xl md:text-6xl lg:text-6xl" id="hamburger"></i>
        </div>

    </nav>
</header>

    <!-- Main content block -->
    <main class="pt-24">
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </main>

    <!-- JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>


         <footer>
            <div class="p-10 bg-gray-100 text-black">
                <div class="max-w-7xl mx-auto">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 gap-4">
                        <div class="mb-5">
                            <h2 class="pb-4">Company</h2>
                            CyberConnect <br>
                            0001, Moi Avenue CBD <br>
                            Nairobi Kenya, <br>
                            <strong>Phone:</strong> +254 714073826  +254 25603575 <br>
                            <strong>Email:</strong> mulwabenard9507@gmail.com
                            

                        </div>
                        <div class="mb-6">
                            <h3 class="pb-4"> Quick Links</h3>
                            <ul class="">
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i><a href="#" class="hover:text-yellow-500"> Services</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">Terms of Services</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">Policy Privacy</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">FAQs</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">IT Support</a></li>
                            </ul>
                        </div> 
                        
                        <div class="mb-6">
                           <h3 class="pb-4">ALL Services</h3>
                            <ul class="">
                                <li class="pb-4"><i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">KRA Applications</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">Ecitizen Applications</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">NTSA Services</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">TSC Services</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">SHA APPs</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">HELB Help Desk</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">NCA Apps</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">Graphic Designs</a></li>
                                <li class="pb-4"> <i class="fa fa-chevron-right"></i> <a href="#" class="hover:text-yellow-500">Software Developments</a></li>
                            </ul>   
                        </div>
                        <div class="mb-5">
                            <h3 class="pb-4">Join Our NewsLetter</h3>
                            <p class="text-gray-500 pb-4">Join 100+ others and never Miss Out on new tips, Dicounts, Tutorials and More offered at Our Website </p>
                            <form class="flex flex-row flex-wrap">
                                <input type="text" class="text-yellow-600 w-1/2 p-3 focus:border-yellow-500" placeholder="email@example.com">
                                <button class="p-2 w-1/4  py-3  bg-yellow-500 text-white hover:bg-yellow-600 flex items-center gap-5 justify-center">Subscribe
                                    <i class="ri-send-plane-2-fill"></i>
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full bg-green-700 text-white py-6 px-4 text-center">
                <div>
                    <div>
                        <div>
                            © Copyright <strong><span>CyberConnect</span></strong> 2025. All Rights Reserved 
                        </div>
                    </div>
                    <div>
                    Developed || Owned by <a href="#" class="text-yellow-400 text-bold ">BENARD MULWA.</a>
                    </div>
                </div>

            </div>
        </footer>
</body>
</html>
