{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Havilla Cyber Café{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'favicon.jpg' %}" type="image/jpeg" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>

<body class="bg-hero-pattern bg-cover bg-center bg-no-repeat text-white font-jost tracking-wider">

    <!-- Header/Navbar -->
    <header id="navbar" class="bg-green-700 fixed w-full top-0 left-0 z-50">
        <nav class="container flex items-center justify-between h-18 sm:h-20">
            <div class="font-Lobster text-white drop-shadow-lg py-2 ml-6 text-2xl sm:text-2xl md:text-2xl lg:text-3xl lg:py-8">DIGITECH SOLUTIONS</div>
            <div id="nav-menu" class="absolute top-0 left-[-100%] min-h-[80vh] w-full lg:static lg:min-h-fit lg:bg-transparent lg:w-auto
            bg-green-950/80 backdrop-blur-sm flex items-center justify-center duration-300 overflow-hidden">
                <ul class="flex flex-col text-white items-center gap-8 lg:flex-row">
                    <li><a href="{% url 'homepage' %}" class="nav-link">Home</a></li>
                    <li><a href="#review" class="nav-link">Review</a></li>
                    <li><a href="#about" class="nav-link">About Me</a></li>
                    <li><a href="#services" class="nav-link">Services</a></li>
                    <li><a href="#careers" class="nav-link">IT Careers</a></li>
                </ul>
            </div>
            <div class="text-xl sm:text-3xl cursor-pointer z-50 mt-5 py-3 px-3 bg-green-700 rounded-md text-white hover:bg-green-600 hover:text-yellow-400 transition duration-300">
                <i class="ri-menu-fold-fill" id="hamburger"></i>
            </div>
        </nav>
    </header>

    <!-- Main content block -->
    <main class="pt-24">
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </main>

    <!-- JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>


        <footer class=" bg-yellow-100 text-green-950 pt-20 pb-10 md:pt-28 relative">
                <!--Quick links-->
                <div class="footer_links container text-white absolute top-0 right-0 left-0 -translate-y-1/2">
                    <div class="bg-green-700 px-10 pt-5 pb-10 mb-10 space-y-5 rounded-md">
                        <h3>
                            <span class="text-yellow-500"> Subscribe</span> to our newsletter
                        </h3>

                        <div class="flex flex-col md:flex-row gap-1">
                            <input type="email" placeholder="Your Email Address" class="w-full px-5 py-3 text-green-900 rounded-md outline-none">
                            <button class="flex items-center gap-1 justify-center bg-green-950 px-5 py-3 rounded-md hover:opacity-80 duration-300">
                                <span>Subscribe</span>
                                <i class="ri-send-plane-2-fill"></i>

                            </button>
                        </div>
                    </div>
                </div>
            <!--social icon-->
            <div class="footer_icon container mt-16 mb-10">
                <div class="border-b border-green-500 relative">
                    <div class="absolute top-1 transform -translate-y-1/2 left-0 right-0 max-w-36 mx-auto">
                        <div class="bg-yellow-100 text-sm text-center space-x-1">
                            <i class="ri-whatsapp-line w-8 h-8 text-2xl hover:text-green-500 transition-colors duration-300 w-18 h-18 cursor-pointer"></i>
                            <i class="ri-messenger-line w-8 h-8 text-2xl hover:text-blue-400 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-facebook-fill w-8 h-8 text-2xl hover:text-blue-500 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-instagram-line w-8 h-8 text-2xl hover:text-pink-500 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-linkedin-box-fill w-8 h-8 text-2xl hover:text-blue-600 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-mail-line w-8 h-8 text-2xl hover:text-yellow-500 transition-colors duration-300 cursor-pointer"></i>

                        </div>
                    </div>
                </div>
                
           <div class="footer_logo container mx-auto mt-10 py-16 px-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-y-10 sm:gap-y-10 md:gap-y-12 lg:gap-y-16 lg:gap-x-20 gap-x-8 text-center lg:text-left items-center lg:items-start justify-items-center lg:justify-items-start">

                <div class="flex items-center lg:items-start justify-center lg:justify-start">
                    <div class="w-48 md:w-48 aspect-square overflow-hidden rounded-full bg-white shadow-lg">
                        <img src="{% static 'logo.png' %}" alt="web_logo"  class="w-full h-full object-contain p-3" >
                </div>
            </div>
              <!--Quick Services-->
        
        
            <!--support-->
            <div>
                <h3 class="text-xl font-semibold text-yellow-500 mb-2">Support</h3>
                <ul class="space-y-2 text-gray-400">
                 <li><a href="#" class="hover:text-yellow-400">FAQs</a></li>
                 <li><a href="#" class="hover:text-yellow-400">Terms of Service</a></li>
                 <li><a href="#" class="hover:text-yellow-400">Privacy Policy</a></li>  
                </ul>
            </div>
            <!--contacts-->
            <div>
               <h3 class="text-xl font-bold text-yellow-500 mb-2 rounded-md">Contact Me</h3>
                <ul class="flex flex-col text-gray-400">
                 <li><a href="tel:+254 7123456#" class="hover:text-green-500">+254 714073826</a></li>
                 <li><a href="tel:+254 7123456#" class="hover:text-green-500">+254 725603575</a></li>
                 <li><a href="email#" class="hover:text-blue-500">mulwabenard9507@gmail.com</a></li>
                 <li><a href="location#" class="hover:text-blue-400">NAIROBI, 00153, KENYA</a></li>  
                </ul>
            </div>

             <div>
               <h3 class="text-xl font-bold text-yellow-500 mb-2 rounded-md">Location</h3>
                <ul class="flex flex-col text-gray-400">
                 <li><a href="tel:+254 7123456#" class="hover:text-green-500">CyberConnect</a></li>
                 <li><a href="tel:+254 7123456#" class="hover:text-green-500">Nairobi, 00100,CBD</a></li>
                 <li><a href="location#" class="hover:text-blue-400">Off Tom Mboya street, 3rd floor</a></li> 
                 <li><a href="location#" class="hover:text-blue-400">KENYA</a></li>  
                </ul>
            </div>
            </div>
            </div>
        </footer>
</body>
</html>
