
 {% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'favicon.jpg' %}" type="image/jpeg" />
    
   
<link href="{% static 'css/output.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">


   <title>Blog E-commerce</title>

</head>
<body class="bg-hero-pattern bg-cover bg-center bg-no-repeat text-white font-jost tracking-wider">

    <!--header-->
    <header  id="navbar" class="bg-green-700 fixed w-full top-0 left-0 z-50">
        <nav class="container flex bitems-center justify-between h-18 sm:h-20">
            <div class="font-Lobster sm:text-2xl sm:py-6 md:text-2xl lg:text-3xl lg:py-8 text-white drop-shadow-lg py-2 ml-6">DIGITECH SOLUTIONS</div>

            <div id="nav-menu" class="absolute top-0 left-[-100%] min-h-[80vh] w-full lg:static lg: min-h-fit lg:bg-transparent lg:w-auto
            bg-green-950/80 backdrop-blur-sm flex items-center justify-center duration-300 overflow-hidden">
               
                <ul class="flex flex-col text-white items-center gap-8 lg:flex-row">
                    <li>
                        <a href="#home" class="nav-link ">Home</a>
                    </li>
                    <li>
                         <a href="#review" class="nav-link ">Review</a>
                    </li>
                    <li>
                         <a href="#about" class="nav-link ">About Me</a>
                    </li>
                    <li>
                         <a href="#services" class="nav-link ">Services</a>
                    </li>
                    
                    <li>
                         <a href="#careers" class="nav-link ">IT Careers</a>
                    </li>
                </ul>
            </div>
            
            <div class="text-xl sm:text-3xl cursor-pointer z-50 mt-5 py-3 px-3 bg-green-700 rounded-md text-white hover:bg-green-600 hover:text-yellow-400 transition duration-300">
            <i class="ri-menu-fold-fill" id="hamburger"></i>
            </div>

        </nav>

    </header>
    
    <!--Main.js-->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>


    <!--HOME SECTION-->

    <main>
        <!--Home-->
        <section id="home">
            <div class="container">
                <div class="flex flex-col items-center gap-5 lg:flex-row">
                    <!--content-->

                    <div class="home_data w-full space-y-5 mt-8 px-4 sm:px-6 md:px-8 py-4 lg:w-1/2">
                        <h1 class="text-2xl md:text-5xl font-bold text-white leading-tight">
                            <span class="text-yellow-500 text-4xl md:text-5xl">Welcome</span> <span class="text-2xl space-y-2"> to HAVILLA Cyber Café Online Service Platform!</h1></span> <br>
                        <p class="text-lg text-gray-200 leading-relaxed">Provides essential digital services, offering a range of <br> internet-based solutions for<span class="text-yellow-400 font-semibold"> individuals, businesses-based entrepreneurs, and students</span>.
                        </p>
                        <br>
                        <p class="text-lg text-gray-400 leading-relaxed">
                            We serve as convenient hubs for communication, research, and <br> professional work—especially in areas where personal computers <br> or stable internet connections might be unavailable.
                        </p>
                        <div class="mt-7 py-8">
                             <div class="flex flex-row sm:flex-row gap-4">
                            <button class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-3 px-8 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
                                <span>Shop Now</span>
                            </button>
                            <button class="border-2 border-yellow-500 text-yellow-500 hover:bg-yellow-500 hover:text-white font-semibold py-4 px-8 rounded-lg transition duration-400 ease-in-out transform hover:scale-105">
                                <span class="font-mono font-bold">Know More</span>
                            </button>
                            </div>
                        </div>
                        <p class="text-xs font-Lobster text-slate-300 mt-3">
                            We are Open 24 Hours
                        </p>
                        <div class="flex flex-wrap gap-3 md:gap-2  md:text-2xl text-lg text-white py-4">
                            <i class="ri-whatsapp-line w-8 h-8 text-2xl hover:text-green-500 transition-colors duration-300 w-18 h-18 cursor-pointer"></i>
                            <i class="ri-messenger-line w-8 h-8 text-2xl hover:text-blue-400 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-facebook-fill w-8 h-8 text-2xl hover:text-blue-600 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-instagram-line w-8 h-8 text-2xl hover:text-pink-500 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-linkedin-box-fill w-8 h-8 text-2xl hover:text-blue-500 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-mail-line w-8 h-8 text-2xl hover:text-yellow-400 transition-colors duration-300 cursor-pointer"></i>
                        </div>
                    </div>

                    <!--image-->
                    <div class="w-full relative lg:w-1/2 -top-0 right-0">
                        <img src="{% static 'homepage.png' %}" alt="home"   class="home_image w-full max-w-xl h-auto object-contain mx-auto shadow-2xl p-2">
                        
                        <!--Animations-->
                        <div class="absolute -top-5 right-20 text-yellow-300 text-6xl animate-bounce opacity-30 pointer-events-none">
                            <i class="ri-computer-fill"></i>
                        </div>



                        <div class="absolute bottom-4 right-2 sm:bottom-6 sm:right-4 md:bottom-8 md:right-10  text-yellow-500 text-3xl sm:text-4xl md:text-5xl animate-bounce-soft opacity-90 pointer-events-none hover:scale-125 transition-transform duration-300 
                            drop-shadow-[0_0_10px_#facc15]">
                            <i class="ri-settings-5-line"></i>
                        </div>
                        
                        <div class="absolute bottom-6 -right-10 text-yellow-300 text-6xl animate-bounce-soft opacity-40 pointer-events-none hover:scale-125 transition-transform duration-300 drop-shadow-[0_0_10px_#facc15]">
                            <i class="ri-remote-control-line"></i>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--services-->
        <section id="review">
            <div class="flex flex-col items-center gap-2 text-center mb-10 md:mb-16">
                            <h2 class="title">Cutomer Review</h2> 
                                <p class="max-w-2xl">
                                Follow Instructions & Guidlines for More <br> information.
                                </p>
            </div>
            <div class="bg-white text-green-900 rounded-2xl shadow-lg border border-gray-200 mx-auto px-4 md:px-8 py-10 max-w-7xl">
            <div class="container w-full grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <!--card 1-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-cellphone-fill text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Mobile<br>
                        Services
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Top-up, mobile transfers, M-Pesa services, and more — fast and convenient.</p>
                </div>
                <!--card 2-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                       <i class="ri-global-line text-3xl md:text-4xl xl:text-5xl text-green-700 mb-3"></i>
                    <p class="md:text-lg font-semibold mb-2">
                        Internet<br>
                        Access
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Enjoy fast, reliable browsing with access to both local and international sites.</p>
                </div>
                 <!--card 3-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-printer-line text-3xl md:text-4xl xl:text-5xl text-green-700 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Printing<br>
                        & Scanning
                    </p>
                    </div>
                    <p class="font-Lobster text-base">High-quality A4, A3, B4 document size printing, scanning, photocopying & binding solutions.</p>
        
                </div>
                 <!--card 4-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-file-copy-2-fill text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Document<br>
                        Services
                    </p>
                    </div>
                    <p class="font-Lobster text-base">We are there to help in Customer Application support, <br> CV writing, KRA/NTSA/HELB submissions, etc.</p>
                </div>
                 <!--card 5-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-user-voice-line text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Customer<br>
                        Support
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Get live assistance with online portals, uploads, email setup, and more.</p>
                </div>
                 <!--card 6-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-macbook-line text-4xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Computer<br>
                        Training
                    </p>
                    </div>
                    <p class="font-Lobster text-base">At Havilla Digitech We provide Practical training in Microsoft Office, Graphic Designs<br> online tools, typsetting, and basic IT skills.</p>
                </div>
                 <!--card 7-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-user-voice-line text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Software<br>
                        DEvs
                    </p>
                    </div>
                    <p class="font-Lobster text-base">A focus on Professional Software programms & developments, networking in Cyber security, PC & Laptop setups, <br>
                        troubleshooting and software installations <span class="font-sans text-red-500 font-bold">(Windows|Ubuntu|Kali Linux).</span>
                </div>
                 <!--card 8-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-brush-2-fill text-4xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Creative<br>
                        Graphic Designs
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Am perfect critical in all types of professional Graphic models which include; <br><span class="font-sans font-bold text-green-700">
                        Logos, flyers, posters, banners, wedding & Eulogy programs as well as branding materials designed to captivate and communicate.</span>
                </div>
                
                
            </div>
            </div>
        </section>
    </main>
            
                
     

<!--About me-->
        <section id="about" class="relative overflow-hidden ">
            <div class="about_top bg-green-500 flex flex-col items-center gap-3 text-center mb-10 md:mb-20  rounded-3xl px-2 py-7 p-4 shadow-lg">

                <h2 class="title text-4xl ">About me</h2> 
                    <p class="max-w-2xl text-lg">
                        Follow Instructions & Guidlines for More <br> information.
                    </p>
            </div>

                    <div class="container mx-auto px-4 py-10 space-y-16">
                        <!--Item 1 -->
                        <div class="flex flex-col items-center lg:flex-row gap-5">
                            <!--Image section-->
                            <div class="about_item_1-img w-full lg:w-1/2 px-4">
                                <img src="{% static 'modified.png' %}" alt="modified" class="w-full sm:w-2/3 lg:w-full xl:w-[80%] rounded-lg shadow-lg transition-transform duration-500 hover:scale-105">
                            </div>
                                <!--Text to right-->
                            <div class="about_item_1-content w-full lg:w-1/2 space-y-7 text-xl font-mono text-left">
                                <div>
                                    <h3 class="text-xl font-sans font-bold text-center underline decoration-yellow-500 decoration-4 underline-offset-4">
                                       Powering  Every day <span class="text-yellow-500">Digital Technology</span>  <br>
                                        Access to All Clients.
                                     </h3> 
                                     <br>
                                     <p class="mt-4 text-lg font-sans  mb-6">
                                        As the founder and operator of <span class="font-bold text-yellow-600">HAVILLA Digitech Solutions,</span> my passion lies in making digital technology accessible, efficient,
                                        and impactful for everyone — from students working on assignments to entrepreneurs running their businesses online.Am committed to helping individuals, students, and 
                                        businesses access essential digital services.
                                    </p><br>
                                    <p class="text-lg font-sans leading-relaxed mb-6">
                                        With a deep understanding of the challenges many face in accessing stable internet, modern equipment, and tech support, 
                                        I’ve built this  Havilla blog to be more than just a cyber café — but a community-driven digital hub.
                                       <br> I strive to create a welcoming space where clients feel empowered to visit us; browse, learn, print, apply, and connect without barriers. <br><br>Whether it’s assisting with government e-Services, offering computer training, or developing software solutions,
                                        our mission is to bridge the digital gap with trust,<span class="text-xl font-bold"> professionalism, and a human touch.</span>
                                    </p>

                                    
                
                                </div>
                            </div>
                        </div>

                          <!--Item 2 -->
                         <div class="container mx-auto flex flex-col items-center lg:flex-row-reverse gap-5">
                            <!--Image section-->
                            <div class="about_item_2-img w-full lg:w-1/2 px-4">
                                <img src="{% static 'browsing.png' %}" alt="modified" class="w-full sm:w-2/3 lg:w-full xl:w-[80%] rounded-lg shadow-lg transition-transform duration-500 hover:scale-105">
                            </div>
                            <!--Text to right-->
                            <div class="about_item_2-content w-full lg:w-1/2 space-y-7 text-xl text-left">
                                <div class="space-y-5">
                                        <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-yellow-500">
                                           Now Your Ultimate Digital online Solutions Gateway <span class="text-white">Starts Here!</span></h2>
                                        <br>
                                        <p class="text-base sm:text-lg md:text-xl leading-relaxed font-normal text-slate-300">Welcome to <span class="text-yellow-400 font-semibold">DIGITECH Blog</span>, your trusted digital gateway for smart, reliable, and timely online solutions
                                             
                                       as well as we offer a seamless digital experience. From <span class="text-white font-semibold">fast and secure  browsing</span>, to <span class="text-white font-semibold">online application support</span> 
                                         and <span class="text-white font-semibold">academic services</span>, we  cater to students, professionals, and entrepreneurs alike.
                                        </p> 
                                        <br>
                                    <p class="text-base sm:text-lg md:text-xl leading-relaxed font-normal text-slate-400">Our platform is designed for <span class="text-white font-semibold">comfort, efficiency</span>, and
                                        <span class="text-white font-semibold">affordability</span>, making it the perfect space for work, study, or business.
                                        Whether you're submitting urgent documents, attending virtual meetings, or researching for school, <span class="text-yellow-400 font-semibold">DIGITECH Website</span> is your go-to digital hub. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                                      
        </section>

                <!--Services-->
                <section id="services" class="bg-green-900">
<!--heading 1-->
                        <div class="service_top flex flex-col items-center gap-1 text-center mb-10 md:mb-28">
                            <h2 class="title">Our Services</h2>
                            <p class="max-w-2xl">Explore Our Core Offers</p>
                        </div>

                    <div class="container w-full grid grid-cols-1 gap-x-8 gap-y-36 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
<!--Service grid 1-->

                        <div class="service_card bg-green-950 service_card p-10 sm:p-20 pt-52 rounded-md relative w-full max-w-md mx-auto">
                            <img src="{% static 'ecitizen_service.png' %}" alt="ecitizen" class="w-56 sm:w-44 absolute -top-5 left-1/2 transform -translate-x-1/2 rounded-2xl shadow-md transition-transform duration-300 hover:scale-105"/>
                        
                        
                            <div class="flex flex-col items-center justify-center text-white mt-28 rounded-lg">
                                <p class="text-lg font-semibold mb-2 italic">Ecitizen Applications</p>
                                <button class="mt-3 px-4 py-2 text-center bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    Service Description
                                </button>
                                <div class="text-yellow-500 text-xs py-3 flex justify-center gap-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-line"></i>
                                    <i class="ri-star-line text-gray-400"></i>
                                </div>
                            
                                <button class="mt-3 flex items-center gap-2 px-3 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    <i class="ri-shopping-cart-fill"></i>
                                        <span>Order Service</span>
                                </button>
                            </div>
                        </div>
                        
                    

 <!--Service grid 2--> 
                        <div class="service_card bg-green-950 service_card p-10 sm:p-20 pt-52 rounded-md relative w-full max-w-md mx-auto">
                            <img src="{% static 'NTSA.png' %}" alt="ecitizen" class="w-56 sm:w-44 absolute -top-5 left-1/2 transform -translate-x-1/2 rounded-2xl shadow-md transition-transform duration-300 hover:scale-105"/>
                        
                        
                            <div class="flex flex-col items-center justify-center text-white mt-28 rounded-lg">
                                <p class="text-lg font-semibold mb-2 italic">NTSA Applications</p>
                                <button class="mt-3 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    Service Description
                                </button>
                                <div class="text-yellow-500 text-xs py-3 flex justify-center gap-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-line"></i>
                                    <i class="ri-star-line text-gray-400"></i>
                                </div>
                            
                                <button class="mt-3 flex items-center gap-2 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    <i class="ri-shopping-cart-fill"></i>
                                        <span>Order Service</span>
                                </button>
                            </div>
                        </div>
                        
                   
 <!--Service grid 3--> 
                        <div class="service_card bg-green-950 service_card p-10 sm:p-20 pt-52 rounded-md relative w-full max-w-md mx-auto">
                            <img src="{% static 'KRA.png' %}" alt="ecitizen" class="w-56 h-44 max-h-[500px] sm:w-44 absolute -top-5 left-1/2 transform -translate-x-1/2 rounded-3xl shadow-md transition-transform duration-300 hover:scale-105"/>
                        
                        
                            <div class="flex flex-col items-center justify-center text-white mt-28 rounded-lg">
                                <p class="text-lg font-semibold mb-2 italic">KRA Applications</p>
                                <button class="mt-3 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    Service Description
                                </button>
                                <div class="text-yellow-500 text-xs py-3 flex justify-center gap-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-line"></i>
                                    <i class="ri-star-line text-gray-400"></i>
                                </div>
                            
                                <button class="mt-3 flex items-center gap-2 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    <i class="ri-shopping-cart-fill"></i>
                                        <span>Order Service</span>
                                </button>
                            </div>
                        </div>  
                        
 <!--Service grid 4--> 
                        <div class="service_card bg-green-950 service_card p-10 sm:p-20 pt-52 rounded-md relative w-full max-w-md mx-auto">
                            <img src="{% static 'SHA.png' %}" alt="ecitizen" class="w-56 sm:w-56 absolute -top-5 left-1/2 transform -translate-x-1/2 rounded-3xl shadow-md transition-transform duration-300 hover:scale-105"/>
                        
                        
                            <div class="flex flex-col items-center justify-center text-white mt-28 rounded-lg">
                                <p class="text-lg font-semibold mb-2 italic">SHA Applications</p>
                                <button class="mt-3 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    Service Description
                                </button>
                                <div class="text-yellow-500 text-xs py-3 flex justify-center gap-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-line"></i>
                                    <i class="ri-star-line text-gray-400"></i>
                                </div>
                            
                                <button class="mt-3 flex items-center gap-2 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    <i class="ri-shopping-cart-fill"></i>
                                        <span>Order Service</span>
                                </button>
                            </div>
                        </div>   

 <!--Service grid 5--> 
                        <div class="service_card bg-green-950 service_card p-10 sm:p-20 pt-52 rounded-md relative w-full max-w-md mx-auto">
                            <img src="{% static 'HELB.png' %}" alt="ecitizen" class="w-56 sm:w-44 absolute -top-5 left-1/2 transform -translate-x-1/2 rounded-2xl shadow-md transition-transform duration-300 hover:scale-105"/>
                        
                        
                            <div class="flex flex-col items-center justify-center text-white mt-28 rounded-lg">
                                <p class="text-lg font-semibold mb-2 italic">HELB Applications</p>
                                <button class="mt-3 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    Service Description
                                </button>
                                <div class="text-yellow-500 text-xs py-3 flex justify-center gap-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-line"></i>
                                    <i class="ri-star-line text-gray-400"></i>
                                </div>
                            
                                <button class="mt-3 flex items-center gap-2 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    <i class="ri-shopping-cart-fill"></i>
                                        <span>Order Service</span>
                                </button>
                            </div>
                        </div>

 <!--Service grid 6--> 
                        <div class="service_card bg-green-950 service_card p-10 sm:p-20 pt-52 rounded-md relative w-full max-w-md mx-auto">
                            <img src="{% static 'TSC.png' %}" alt="ecitizen" class="w-56 sm:w-44 absolute -top-5 left-1/2 transform -translate-x-1/2 rounded-2xl shadow-md transition-transform duration-300 hover:scale-105"/>
                        
                        
                            <div class="flex flex-col items-center justify-center text-white mt-28 rounded-lg">
                                <p class="text-lg font-semibold mb-2 italic">TSC Applications</p>
                                <button class="mt-3 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    Service Description
                                </button>
                                <div class="text-yellow-500 text-xs py-3 flex justify-center gap-1">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-half-line"></i>
                                    <i class="ri-star-line text-gray-400"></i>
                                </div>
                            
                                <button class="mt-3 flex items-center gap-2 px-4 py-2 bg-yellow-500 text-green-950 font-bold rounded-lg hover:bg-yellow-400 transition">
                                    <i class="ri-shopping-cart-fill"></i>
                                        <span>Order Service</span>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                     
                             
                </section>
<!--IT careers-->
        <section id="careers">
                <div class="service_card flex flex-col items-center gap-3 text-center mb-10 md:mb-20">
                    <h2 class="title">Explore Careers</h2> 
                        <p class="max-w-2xl">
                            Also Explore My Careers in Software Engineering
                        </p>
                        </div>
                    <!--slide 1-->
                        <div  class="review_swiper container mx-auto px-3">
                            <div class=" swiper py-12">
                                <ul class="swiper-wrapper"> 
                                    <li class="swiper-slide">
                                        <div class="flex flex-col gap-5 bg-green-900 rounded-md p-10">
                                            <p class="font-Lobster">
                                                As a Software Engineer, I specialize in building reliable, secure, and scalable digital solutions. <br>From custom web applications to robust backend integration, that connects systems with secure APIs and real-time data flows API integrations and performance optimization.
                                               
                                            </p>
                                            <div class="flex w-full items-center gap-4">
                                            

                                                <img src="{% static 'ray.png' %}" alt="review_image" class="w-10 h-12 rounded-full">
                                                  

                                            <div class="ml-10">
                                                <p class="text-yellow-500 font-bold text-lg">BENARD MULWA</p>
                                                <p>Software Engineer</p>

                                            </div>
                                             <i class="ri-double-quotes-r text-3xl text-gray-400 ml-auto"></i>
                                            </div>                                     
                                        
                                        </div>
                                    </li>
                                    
                      <!--slide 2-->              
                                    <li class="swiper-slide">
                                        <div class="flex flex-col gap-5 bg-green-900 rounded-md p-10">
                                            <p class="font-Lobster">
                                                I design and implement powerful backend systems with Fast APIs and third-party integrations. Whether it's payment gateways, cloud services, or internal data pipelines — my focus is performance, scalability, and data security
                                            </p>
                                            <div class="flex w-full items-center gap-4">
                                            

                                                <img src="{% static 'ray.png' %}" alt="review_image" class="w-10 h-12 rounded-full">
                                                  

                                            <div class="ml-10">
                                                <p class="text-yellow-500 font-bold text-lg">BENARD MULWA</p>
                                                <p>Software Engineer</p>

                                            </div>
                                             <i class="ri-double-quotes-r text-3xl text-gray-400 ml-auto"></i>
                                            </div>                                     
                                        
                                        </div>
                                    </li>
                            <!--slide 3-->
                                    <li class="swiper-slide">
                                        <div class="flex flex-col gap-5 bg-green-900 rounded-md p-10">
                                            <p class="font-Lobster">
                                                With a strong eye for aesthetics and deep understanding of visual communication, we help businesses and individuals stand out in a crowded digital world. Whether you're launching a new brand or enhancing your social media presence, our designs are crafted to captivate and communicate effectively.
                                            </p>
                                            <div class="flex w-full items-center gap-4">
                                            

                                                <img src="{% static 'ray.png' %}" alt="review_image" class="w-10 h-12 rounded-full">
                                                  

                                            <div class="ml-10">
                                                <p class="text-yellow-500 font-bold text-lg">BENARD MULWA</p>
                                                <p>Software Engineer</p>

                                            </div>
                                             <i class="ri-double-quotes-r text-3xl text-gray-400 ml-auto"></i>
                                            </div>                                     
                                        
                                        </div>
                                    </li>
                            <!--slide 4-->
                                    <li class="swiper-slide">
                                        <div class="flex flex-col gap-5 bg-green-900 rounded-md p-10">
                                            <p class="font-Lobster">
                                                At DIGITECH, we believe that great design speaks louder than words. Our creative graphic design services bring ideas to life through stunning visuals, from logos and brand kits to flyers, posters, and digital content.
                                            </p>
                                            <div class="flex w-full items-center gap-4">
                                            

                                                <img src="{% static 'ray.png' %}" alt="review_image" class="w-10 h-12 rounded-full">
                                                  

                                            <div class="ml-10">
                                                <p class="text-yellow-500 font-bold text-lg">BENARD MULWA</p>
                                                <p>Software Engineer</p>

                                            </div>
                                             <i class="ri-double-quotes-r text-3xl text-gray-400 ml-auto"></i>
                                            </div>                                     
                                        
                                        </div>
                                    </li>

                             <!--slide 5-->
                                    <li class="swiper-slide">
                                        <div class="flex flex-col gap-5 bg-green-900 rounded-md p-10">
                                            <p class="font-Lobster text-xl">
                                                Welcome to CyberConnect Digitech Solutions.
                                            </p>
                                            <div class="flex w-full items-center gap-4">
                                            

                                                <img src="{% static 'ray.png' %}" alt="review_image" class="w-10 h-12 rounded-full">
                                                  

                                            <div class="ml-10">
                                                <p class="text-yellow-500 font-bold text-lg">BENARD MULWA</p>
                                                <p>Software Engineer</p>

                                            </div>
                                             <i class="ri-double-quotes-r text-3xl text-gray-400 ml-auto"></i>
                                            </div>                                     
                                        
                                        </div>
                                    </li>


                                </ul>

                                <div class="swiper-pagination mt-4"></div>

                            </div>
                        </div>
                

                </div>
                
            </div>
        </section>

<!--Footer-->
        
        <footer class=" bg-yellow-100 text-green-950 pt-20 pb-10 md:pt-28 relative">
                <!--Quick links-->
                <div class="footer_links container text-white absolute top-0 right-0 left-0 -translate-y-1/2">
                    <div class="bg-green-900 px-10 pt-5 pb-10 space-y-5 rounded-md">
                        <h3>
                            <span class="text-yellow-500"> Subscribe</span> to our newsletter
                        </h3>

                        <div class="flex flex-col md:flex-row gap-1">
                            <input type="email" placeholder="Your Email Address" class="w-full px-5 py-3 text-green-900 rounded-md outline-none">
                            <button class="flex items-center gap-1 justify-center bg-green-950 px-5 py-3 rounded-md hover:opacity-80 duration-300">
                                <span>Subscribe</span>
                                <i class="ri-send-plane-2-fill"></i>

                            </button>
                        </div>
                    </div>
                </div>
            <!--social icon-->
            <div class="footer_icon container mt-16 mb-10">
                <div class="border-b border-green-500 relative">
                    <div class="absolute top-1 transform -translate-y-1/2 left-0 right-0 max-w-36 mx-auto">
                        <div class="bg-yellow-100 text-sm text-center space-x-1">
                            <i class="ri-whatsapp-line w-8 h-8 text-2xl hover:text-green-500 transition-colors duration-300 w-18 h-18 cursor-pointer"></i>
                            <i class="ri-messenger-line w-8 h-8 text-2xl hover:text-blue-400 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-facebook-fill w-8 h-8 text-2xl hover:text-blue-500 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-instagram-line w-8 h-8 text-2xl hover:text-pink-500 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-linkedin-box-fill w-8 h-8 text-2xl hover:text-blue-600 transition-colors duration-300 cursor-pointer"></i>
                            <i class="ri-mail-line w-8 h-8 text-2xl hover:text-yellow-500 transition-colors duration-300 cursor-pointer"></i>

                        </div>
                    </div>
                </div>
            </div>
            <!--footer summary-->

            <!--Logo & quick decription-->
            <div class="footer_logo container items-center grid sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-4 gap-8 text-center md:text-start">
                <div class="p-4 flex justify-center">
                    <div class="w-96 md:w-56 aspect-square overflow-hidden rounded-full bg-white shadow-lg">
                        <img src="{% static 'logo.png' %}" alt="web_logo"  class="w-full h-full object-contain p-1" >
                    </div>
                </div>
              <!--Quick Services-->
            <div class="py-16 max-w-screen-lg mx-auto px-4 sm:px-6 lg:px-8">
                <h3 class="text-lg font-semibold text-yellow-500 mt-6 mb-2">--Quick Services--</h3>
                
                <ul class="space-y-2 list-disc list-inside text-green-900">
                 <li><a href="#">Affordable, fast A4/A3 printing & high-quality <br>photocopying services</a></li>
                 <li><a href="#">Internet Browsing & Online based Applications </a></li>
                 <li><a href="#">Document Scanning & Lamination</a></li> 
                 <li><a href="#"> </a>School Projects & Proposals</li>
                 <li><a href="#"> </a>Web-site Application & design</li>
                 <li><a href="#"> </a>Software installation & developments</li> 
                </ul>                       
                
            </div>
        
            <!--support-->
            <div>
                <h3 class="text-xl font-semibold text-yellow-500 mb-2">Support</h3>
                <ul class="space-y-2 text-gray-400">
                 <li><a href="#" class="hover:text-yellow-400">FAQs</a></li>
                 <li><a href="#" class="hover:text-yellow-400">Terms of Service</a></li>
                 <li><a href="#" class="hover:text-yellow-400">Privacy Policy</a></li>  
                </ul>
            </div>
            <!--contacts-->
            <div>
               <h3 class="text-xl font-bold text-yellow-500 mb-2 rounded-md">Contact Me</h3>
                <ul class="flex flex-col text-gray-400">
                 <li><a href="tel:+254 7123456#" class="hover:text-green-500">+254 714073826</a></li>
                 <li><a href="tel:+254 7123456#" class="hover:text-green-500">+254 725603575</a></li>
                 <li><a href="email#" class="hover:text-blue-500">mulwabenard9507@gmail.com</a></li>
                 <li><a href="location#" class="hover:text-blue-400">NAIROBI, 00153, KENYA</a></li>  
                </ul>
            </div>
            </div>
            <!--copyright-->
           <div class="w-full mt-6 sm:mt-7 mx-4 sm:mx-0 bg-green-900 text-slate-200 py-3 px-4 rounded-lg shadow-md text-sm sm:text-base">
                <div class="max-w-7xl mx-auto flex flex-col sm:flex-row justify-between items-center gap-2 text-center sm:text-left">

                    <p class="text-center md:text-left ml-9 text-black font-bold text-lg"> &copy;   Copyright  2025  <span class="font-semibold text-yellow-400"> CyberConnect</span>. All rights reserved.</p>
                   <!--<p class="text-center md:text-right mt-2 mr-20  text-sm font-Lobster italic md:mt-0">Made <i class="fas fa-heart text-red-500 mx-1"></i> by 
                    <a href="#" class="text-yellow-400 hover:underline">BENARD MULWA</a>
                    </p>-->
                </div>
            </div>
        
        </footer>

<!-- Scroll Up Button -->
        <a href="#" id="scroll-up"
            class="fixed right-4 bottom-[-100px] bg-yellow-500 shadow-sm inline-block px-3 py-1 md:py-2 rounded-md text-lg z-50 transition-all duration-300">
             <i class="ri-arrow-up-line"></i>
        </a>

<!-- Scroll Button Script -->
        <script>
            const scrollUp = document.getElementById("scroll-up");

            window.addEventListener("scroll", () => {
            if (window.scrollY > 200) {
            scrollUp.style.bottom = "1.5rem";  // Show button
             } else {
             scrollUp.style.bottom = "-100px";  // Hide button
             }
            });

            scrollUp.addEventListener("click", (e) => {
            e.preventDefault();
             window.scrollTo({ top: 0, behavior: "smooth" });
            });
            </script>
  
       </div>
 
    </main>
    

    <!--SCROLL REVEAL-->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    
    <script>
  document.addEventListener('DOMContentLoaded', () => {
    const sr = ScrollReveal({
      origin: "top",
      distance: "100px",
      duration: 3000,
      delay: 500,
      reset: true
    });

    sr.reveal('.home_data, .about_top, .service_top, .service_card, .review-top, .review_swiper, .footer_icon, .footer_links, .footer_logo, .copy_right');
    sr.reveal('.home_image', {delay: 500, scale: 0.5});
    sr.reveal('.service_card ', {interval: 100});
    sr.reveal('.about_item_1-content, .about_item_2-img', {origin: "right"})
    sr.reveal('.about_item_2-content, .about_item_1-img', {origin: "left"})

  });
</script>
</div>

</body>
</html>
