{% extends 'homepage/base.html' %}
{% block title %}Reviews - Online Services{% endblock %}

{% block content %}
<!--services-->
    <section id="review" class="mt-0 mb-10 py-0">
            <div class="pt-0 mt-0">
            <div class="flex flex-col items-center gap-2 text-center mb-10 md:mb-16">
                            <h2 class="title">Customer Review</h2> 
                                <p class="max-w-2xl text-black">
                                Explore our routine services & Career <br>developments.
                                </p>
            </div>
            
        <div class="bg-gray-100 text-green-900 rounded-2xl shadow-lg border border-gray-200 mx-auto md:px-8 py-10 mt-0 max-w-7xl">
            <div class="container w-full grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <!--card 1-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-cellphone-fill text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Mobile<br>
                        Services
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Top-up, mobile transfers, M-Pesa services, and more — fast and convenient.</p>
                </div>
                <!--card 2-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                       <i class="ri-global-line text-3xl md:text-4xl xl:text-5xl text-green-700 mb-3"></i>
                    <p class="md:text-lg font-semibold mb-2">
                        Internet<br>
                        Access
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Enjoy fast, reliable browsing with access to both local and international sites.</p>
                </div>
                 <!--card 3-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-printer-line text-3xl md:text-4xl xl:text-5xl text-green-700 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Printing<br>
                        & Scanning
                    </p>
                    </div>
                    <p class="font-Lobster text-base">High-quality A4, A3, B4 document size printing, scanning, photocopying & binding solutions.</p>
        
                </div>
                 <!--card 4-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-file-copy-2-fill text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Document<br>
                        Services
                    </p>
                    </div>
                    <p class="font-Lobster text-base">We are there to help in Customer Application support, <br> CV writing, KRA/NTSA/HELB submissions, etc.</p>
                </div>
                 <!--card 5-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-user-voice-line text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Customer<br>
                        Support
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Get live assistance with online portals, uploads, email setup, and more.</p>
                </div>
                 <!--card 6-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-macbook-line text-4xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Computer<br>
                        Training
                    </p>
                    </div>
                    <p class="font-Lobster text-base">At Havilla Digitech We provide Practical training in Microsoft Office, Graphic Designs<br> online tools, typsetting, and basic IT skills.</p>
                </div>
                 <!--card 7-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-user-voice-line text-3xl md:text-4xl xl:text-5xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Software<br>
                        DEvs
                    </p>
                    </div>
                    <p class="font-Lobster text-base">A focus on Professional Software programms & developments, networking in Cyber security, PC & Laptop setups, <br>
                        troubleshooting and software installations <span class="font-sans text-red-500 font-bold">(Windows|Ubuntu|Kali Linux).</span>
                </div>
                 <!--card 8-->
                <div class="service_card border border-green-900 p-5 cursor-pointer rounded-md hover:shadow-2xl hover:-translate-y-1 duration-300">
                    <div class="flex items-center gap-5">
                        <i class="ri-brush-2-fill text-4xl text-green-800 mb-3"></i>

                    <p class="md:text-lg font-semibold mb-2">
                        Creative<br>
                        Graphic Designs
                    </p>
                    </div>
                    <p class="font-Lobster text-base">Am perfect critical in all types of professional Graphic models which include; <br><span class="font-sans font-bold text-green-700">
                        Logos, flyers, posters, banners, wedding & Eulogy programs as well as branding materials designed to captivate and communicate.</span>
                </div>
              
            </div>
            </div>

        </div>
        </section>
    </main>
{% endblock %}
